<%- include('../partials/header'); %>

<div style="width: 40%; margin: 25px auto;">
    <% const auctionDefined = (typeof itemName != 'undefined'); %>  <!-- if auction item name defined all auction data is available, fill the form -->
    <form action="/auctions/new" method="POST" enctype="multipart/form-data">

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Item Name</span>
            </div>
            <input id="itemName" type="text" class="form-control" aria-label="Item Name" name="itemName" <%- (auctionDefined) ? `value='${itemName}'` : '' %> maxLength="60" required />
        </div>
            

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Subcategory</span>
            </div>
            <select class="form-control" id="subCategoryId" name="subCategoryId">
                <% subcategories.forEach((subcategory) => { %>
                    <option value=<%= subcategory.id %>><%= subcategory.name %></option>
                <% }); %>
            </select>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Base Price ₡</span>
            </div>
            <input id="basePrice" type="number" class="form-control" name="basePrice" <%- (auctionDefined) ? `value='${basePrice}'` : '' %> required />
        </div>


        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">End Date</span>
            </div>
            <input class="form-control" type="datetime-local" id="endDate" name="endDate" <%- (auctionDefined) ? `value='${endDate}'` : '' %> required >
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Photo (max 25kb)</span>
            </div>
            <input class="form-control" type="file" id="itemPhoto" name="itemPhoto" accept="image/*">
        </div>

        <div class="form-group">
            <label>Item Description</label>
            <textarea class="form-control" id="itemDescription" name="itemDescription" rows="3" maxLength="120" required ><%- (auctionDefined) ? itemDescription : '' %></textarea>
        </div>

        <div class="form-group">
            <label>Item Description</label>
            <textarea class="form-control" id="deliveryDetails" name="deliveryDetails" rows="3" maxLength="120" required ><%- (auctionDefined) ? deliveryDetails : '' %></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create Auction</button>
        </div>
    </form>
</div>

<%- include('../partials/footer'); %>
