<%- include('../partials/header'); %>

<div class="container mt-3" style="width: 70%; margin: 25px auto;">
    <div class="card">
        <h5 class="card-header"><%= shownUser.nickname %></h5>
        <div class="card-body">
            <div class="row">
                <h6 class="col-5 card-title">Id</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.id %></p>
                </div>
            </div>

            <div class="row">
                <h6 class="col-5 card-title">Admin</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.isadmin %></p>
                </div>
            </div>

            <div class="row">
                <h6 class="col-5 card-title">Email</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.email %></p>
                </div>
            </div>

            <div class="row">
                <h6 class="col-5 card-title">First Name</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.firstname %></p>
                </div>
            </div>

            <div class="row">
                <h6 class="col-5 card-title">Last Name</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.lastname %></p>
                </div>
            </div>

            <div class="row">
                <h6 class="col-5 card-title">Phone Number</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.phonenumber %></p>
                </div>
            </div>

            <div class="row">
                <h6 class="col-5 card-title">Home Number</h6>
                <div class="col-5">
                    <p class="card-text"><%= shownUser.homenumber %></p>
                </div>
            </div>
 
            <% if (user.isadmin) { %>
                <a class="btn btn-outline-info btn-md" href="/users/<%= shownUser.id %>/edit">edit</a>
            <% } %>
        </div>
    </div>
</div>
       
<%- include('../partials/footer'); %>